*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/LeProjet/build/
LeProjet/nbproject/private/private.xml
LeProjet/nbproject/private/private.properties
LeProjet/nbproject/private/private.properties