

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.classpath
*.dpf
LeProjet/build/web/META-INF/MANIFEST.MF
*.DS_Store
LeProjet/nbproject/build-impl.xml~
*.xml
LeProjet/nbproject/private/private.properties
